extends layout 

block content 
  h1 Instance: #{book_instance._id}.

  p #[strong Book: ]
    a(href=book_instance.book.url) #{book_instance.book.title}.

  p Do you really want to delete this Instance?

  form(method='POST')
    .form-group
      input#bookinstanceid.form-control(type='hidden', name='bookinstanceid', value=book_instance._id)

      button.btn.btn-primary(type='submit') Delete